<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "head.njk" %}
  
{% if schema == "faq" %}
  {% include "schema-faq.njk" %}
{% endif %}

{% if schema == "howto" %}
  {% include "schema-howto.njk" %}
{% endif %}



</head>
<body>
  <main>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </main>
</body>
</html>
